{% extends "layouts/app.twig" %}

{% set posts = craft.entries.section('projects').all() %}

{% block content %}

    <div class="w-full py-56  shadow-2xl px-34 bg-cover w-full h-32 object-bottom" style="background-image: url('https://images.pexels.com/photos/3861951/pexels-photo-3861951.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">

        <div class="container max-w-7xl mx-autor">
        </div>

    </div>

    <section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col
            text-left  w-full mb-7">

    <h1 class="sm:text-3xl text-center text-2xl text-left font-bold mb-3 text-pink title-font text-gray-900">Meest recente projecten</h1>

    {% include "_includes/listing" with { posts: posts } only %}

    </div>
{% endblock %}