<div class="post-list my-10 flex">
    {% for post in posts %}
        <a href="{{ post.url }}" class="flex shadow-lg rounded items-center justify-center overflow-hidden inline-flex transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-120 transition ease-in-out duration-30">
            {% if post.featureImage|length %}
                {% set image = post.featureImage.one() %}
                <div class="font-medium w-1/3">
                    <img src="{{ image.getUrl({ width: 400, height: 500}) }}"
                         alt="{{ image.title }}"
                         class="block"
                    />
                </div>
            {% endif %}
            <span class="title w-3/4 p-4">{{ post.title }}</span>
        </a>
    {% endfor %}
</div>